DB_PORT=5432
SPRING_PORT=8080
JUDGE_PORT=4000
REDIS_PORT=6379

DB_NAME=ByeBug
DB_URL=jdbc:postgresql://db:5432/ByeBug
DB_USERNAME=postgres
DB_PASSWORD=change-this-database-password

CORS_ALLOWED_ORIGIN=https://byebug.group5.com
VITE_API_BASE_URL=https://api.byebug.com/api

JWT_SECRET=replace-with-a-random-secret-of-at-least-64-characters
JWT_EXPIRATION_MS=86400000

STORAGE_ENDPOINT=
STORAGE_BUCKET=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_REGION=us-east-005
