# Node
node_modules/
dist/

# Java / Maven
backend/**/target/
backend/**/.mvn/wrapper/maven-wrapper.jar

# Environment
.env
*.env.local
application-local.yaml

# IDE
.idea/
*.iml
.vscode/

# Misc
*.html


WEB IDEA.pdf
/package-lock.json
/package.json